h1::before{
    content:"✌️";
}

p::after{
    content: "😊";
}

.bio::first-letter{
    font-size: 30px;
    color: red;
}

p::first-line{
    font-weight: bold;
    font-family: Arial;
}

::selection{
    background-color: lightblue;
    color: blue;
}

input[placeholder="Digite seu nome"]{
    font-style: italic;
    background-color: lightgray;
    color: orange;
}

li::marker{
    color: violet;
    font-size: 20px;
}
